@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background: #1c1c1c;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    margin: 10px auto;
    color: rgb(140, 204, 172);
}

p {
    text-align: center;
    color: #ffffff;
    font-size: .75em;
    letter-spacing: 1px;
}

#container {
    display: flex;
    flex-direction: column;  
    text-align: center; 
    margin: 10px auto;
    padding: 10px 0px 20px 0px;
    background: #fffdfe;
    width: 90vw;
    max-width: 800px;
    min-width: 300px;
    height: auto;
    border-radius: 15px;
}

select {
    width: 50%;  
    font-family: 'Inter', sans-serif; 
    text-align: center;
    font-size: 1em;
}

select, .btn {
    padding: 10px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    color: #374151;
    background: transparent;
    -webkit-appearance: none;
}

select:focus {
    outline: 1px solid rgb(219, 175, 219);
}

input[type=color] {
    border: none;
    border-radius: none !important;
    height: 35px;
    width: 55px;
    -webkit-appearance: none;
}

#color-tools {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex: 1 1 0px;
    gap: 1em;  
    flex-wrap: wrap;
    box-shadow: 0px 10px 8px rgba(0,0,0,0.45); 
    padding: 20px;
}

#get-color-scheme:hover {
    cursor: pointer;
    opacity: 0.8;
}

#color-scheme {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
}

.color-list {
    width: 100%;
    height: 300px;    
}

#colors-displayed {
    grid-area: colors 1 ;
}

#color-hex-values {
    grid-area: hex 3;    
    justify-self: center; 
}

#color-name-values {
    grid-area: name 2;    
    justify-self: center; 
}

/********************
    Media Queries 
*********************/

@media screen and (max-width: 400px) {
    
    h1 {
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0px;
        text-align: center;
        margin: 0px auto;
        font-size: 1.25em;
    }
    
    select, .btn {
        padding: 15px 10px;
        width: 100%;
    }

    input[type=color] {
        width: 35px;
        height: 35px;
        border: 2px solid #d3d3d3;
        text-align: left;
    }

  }

